torch
torchvision
torchaudio
numpy
scipy
pandas
matplotlib
opencv-python
opencv-python-headless
mediapipe
face-alignment
tensorflow
tensorflow-intel
tensorboard
tensorboard-data-server
protobuf
onnx
scikit-image
imageio
pillow
tifffile
numba
cython
intel-openmp
tbb
mkl
cudatoolkit
pynvml
requests
urllib3
oauthlib
PyQt5
PySide6

